



<ion-content  [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <button id="sideBarButton">
    <ion-icon name="menu-sharp" class="icon"></ion-icon>
  </button>
<ion-footer>
  <button id="searchButton">
  <ion-icon name="search" class="icon" id="searchIcon"></ion-icon>
    <p class="textButton" >Search..</p>
  </button>

  <button id="elementiSalvatiButton"><img src="assets/icon/bookmark_border_24px.png"></button>
  <button id="gpsButton"><img src="assets/icon/Gps%20fixed.png">
  </button>
</ion-footer>
</ion-content>
